* {
  margin: 0;
  padding: 0;
}
p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(17, 17, 17);
  height: 100vh;
  display: flex;
  align-items: center;
}
#root {
  height: 90%;
  padding-inline: 5vw;
  padding-block: 2vh;
}
.title {
  font-size: 20px;
  padding-block: 4px;
}
.activeTab {
  height: 85%;
}
.subTitleHolder {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
}
.inactiveSubTitle,
.inactiveTitle {
  color: rgb(130, 130, 130);
}