* {
  margin: 0;
  padding: 0;
}
p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(17, 17, 17);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root {
  background-color: rgb(20, 20, 20);
  height: 50%;
  width: 90%;
  padding-inline: 3vw;
  padding-block: 2vh;
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 20px;
  padding-block: 4px;
  font-weight: bold;
  cursor: pointer;
}
.tab {
  border-top: 1px solid rgb(50, 50, 50);
  transition: all 1s;
}
.subTitleHolder {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
}
.inactiveTitle {
  color: rgb(150, 150, 150);
}
.contentHolder {
  padding-top: 5px;
  height: max-content;
}
